@model IEnumerable<BrandModel>
@{
	ViewData["title"] = "Dashboard";
}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Dashboard</title>
</head>
<body>
	<h3>Dashboard Statistic</h3>
	<div class="row">
		<div class="col-md-3">
			<p>Statistic Product</p>
		</div>
	</div>
</body>
</html>


